{% block navbar %}
 
 <!-- Navbar & Hero Start -->
 <div class="container-xxl position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-4">
        <a href="" class="navbar-brand p-0" style="margin-right: 4rem;">
            <img src="/static/img/logo-1.png" alt="logo" class="d-block mx-auto">
            <!-- <h1 class="text-primary m-0 logo-text">THE PIZZA FAMILIA</h1> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav py-0 pe-4" style="width: 100%;">
                <a href="https://link.zomato.com/xqzv/rshare?id=22422827aeeb91a4" class="btn btn-primary py-sm-3 px-sm-5 me-5 animated slideInLeft btn-red" style="width: 50%; font-weight: 800;
                    font-size: 30px;" target="_blank">Order Now</a>
                <a class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft btn-red" style="width: 50%; font-weight: 800;
                    font-size: 30px;">Catering With Us</a>
                <!-- <a href="index.html" class="nav-item nav-link active">Home</a> -->
            </div>
        </div>
    </nav>

    <!-- <div class="container-xxl py-5 bg-dark hero-header mb-5"></div> -->
    <div class="container-xxl py-5 bg-dark bg-image mb-5">
        <div class="container my-5 py-5">
            <div class="row align-items-center g-5">
                <div class="col-lg-12 text-center text-lg-start">
                    <h1 class="display-3 text-white animated slideInLeft text-center mt-5 pt-5 headingh1 moving">Enjoy Our Delicious Meal</h1>
                    <!-- <h1 class="display-3 text-white animated slideInLeft text-center mt-5 pt-5">Enjoy Our<br>Delicious Meal</h1> -->
                    <!-- <p class="text-white animated slideInLeft mb-4 pb-2">Enjoy</p> -->
                    <!-- <a href="https://link.zomato.com/xqzv/rshare?id=22422827aeeb91a4" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft btn-red" target="_blank">Order Now</a> -->
                </div>
                <div class="col-lg-12 text-lg-start mt-3">
                    <h3 class="text-white animated slideInLeft text-center our-brands mb-4">Our Brands</h3>
                    <div class="animated slideInLeft text-center d-flex justify-content-center pb-5">
                        <div class="mr-20">
                            <a href="" class="brands-logo">
                                <img src="/static/img/thepizzafamilia.jpeg" alt="logo" class="img-fluid">
                            </a>
                        </div>
                        <div class="mr-20">
                            <a href="" class="brands-logo">
                                <img src="/static/img/familia-street.jpeg" alt="logo" class="img-fluid">
                            </a>
                        </div>
                        <div class="mr-20">
                            <a href="" class="brands-logo">
                                <img src="/static/img/street-dragon.jpeg" alt="logo" class="img-fluid">
                            </a>
                        </div>
                        <div class="mr-20">
                            <a href="" class="brands-logo">
                                <img src="/static/img/fry-walah.jpeg" alt="logo" class="img-fluid">
                            </a>
                        </div>
                        <div>
                            <a href="" class="brands-logo">
                                <img src="/static/img/outdoor-catering.jpeg" alt="logo" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Navbar & Hero End -->

{% endblock %}